@charset "UTF-8";

/*****************************/
/* Main Styles
/*****************************/

br.gutter {
	height: 10px;
}
p.donate {
	float: left;
	padding-top: 3px;
}
div#poststuff h3 {
	cursor: default;
}
div.gutter {
	margin-top: 20px;
}
div.contain-floats {
	overflow: auto;
}
div#icon-help {
	display: block;
	float: left;
	background: url(help_icon.png) no-repeat;
	height: 36px;
	width: 36px;
	margin: 14px 6px 0 0;
}
